div {
  width: 300px;
  border: 15px solid black;
  padding: 80px;
  margin: 450px; color: black;
  
  text-justify: distribute;
  align-items: center;
}

.imagen {
  width: 315px;
  height: 220px;
  border: 10px;


}

a:link  {
  color: blue;
}

a:visited {
  color: turquoise;
}

a:hover {
  color: green;
}



