div {
  width: 300px;
  padding: 80px;
  background-color: white;
  
  text-justify: distribute;
  align-items: center;
}

.imagen {
  width: 315px;
  height: 220px;
  border: 10px;
}

.imagen2 {
  width: 315px;
  height: 345px;
  border: 10px;
}

a:link  {
  color: blue;
}

a:visited {
  color: turquoise;
}

a:hover {
  color: green;
}

body {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 200vh;
  align-items: center;

}

